@import "tailwindcss";
@import "./flexoki.css";

@theme inline {
  --font-display: var(--font-beth-ellen);
  --font-sans: var(--font-lato);
}

@utility h1 {
  @apply mb-4 font-display text-5xl leading-tight text-balance text-tx;
}

@utility h2 {
  @apply mb-4 font-display text-3xl leading-normal text-balance text-tx;
}

@custom-variant web {
  @media screen {
    @slot;
  }
}

@utility paper-shadow {
  --shadow-color: 0deg 0% 46%;
  /*--shadow-elevation-low:
    0.2px 0.6px 0.5px hsl(var(--shadow-color) / 0.74),
    0.3px 0.9px 0.8px -2.2px hsl(var(--shadow-color) / 0.52),
    1px 2.6px 2.3px -4.5px hsl(var(--shadow-color) / 0.3);*/
  box-shadow:
    0.2px 0.6px 0.5px hsl(var(--shadow-color) / 0.62),
    0.4px 1px 0.9px -1.1px hsl(var(--shadow-color) / 0.51),
    0.9px 2.4px 2.1px -2.2px hsl(var(--shadow-color) / 0.4),
    2.2px 6.1px 5.3px -3.4px hsl(var(--shadow-color) / 0.29),
    4.8px 13.2px 11.6px -4.5px hsl(var(--shadow-color) / 0.18);
}

@layer base {
  @media screen {
    :root {
      @apply bg-bg text-tx;
    }
  }

  p,
  li {
    @apply mb-1 leading-normal text-pretty;
  }

  li > p:first-child {
    /* To make ::marker and content appear on same line. */
    @apply inline;
  }

  ul {
    @apply list-inside list-none;
    /* Reduce space between disc and content */
    li::before {
      content: "◦";
      @apply me-2;
    }
  }

  ol {
    @apply list-inside list-none;
    li::before {
      content: counter(list-item) ".";
      @apply me-2;
    }
  }

  li::marker {
    @apply m-0 p-0;
  }

  :root {
    counter-reset: pageNumber;
  }
}

@page {
  /* content width is 6.25in */
  size: 7.5in 9.25in;
  margin: 0.5in;

  @bottom-center {
    counter-increment: pageNumber;
    content: "Page " counter(pageNumber);
  }
}
@page :left {
  margin-right: 0.75in;
}
@page :right {
  margin-left: 0.75in;
}
