@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Kalam:wght@300;400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  /* --font-display: "ShadowsIntoLightTwo"; */
  --font-display: "Beth Ellen";
  /* --font-display: Kalam; */
  /* --font-sans: Poppins; */
  --font-sans: Lato;
}
@theme inline {
  --color-tx: var(--dyn-color-tx);
  --color-bg: var(--dyn-color-bg);
}
:root {
  --dyn-color-tx: black;
  --dyn-color-bg: white;
}
@media screen {
  :root {
    --dyn-color-bg: #fffcf0;
    --dyn-color-tx: #100f0f;
  }
}
/* Comment/uncomment to enable/disable dark colors */
/* @media screen and (prefers-color-scheme: dark) {
  :root {
    --dyn-color-bg: #100f0f;
    --dyn-color-tx: #fffcf0;
  }
} */

@utility h1 {
  @apply text-5xl leading-relaxed;
}

@utility h2 {
  @apply text-3xl leading-loose;
}
@custom-variant web {
  @media screen {
    @slot;
  }
}

@media screen {
  :root {
    color-scheme: light dark;
    @apply text-tx bg-bg;
  }
}
@media print {
  :root {
    /* like browser zoom, makes everything smaller and affects layout */
    zoom: 75%;
  }
}
h1,
h2,
h3,
h4 {
  @apply font-display text-balance;
}

p,
li {
  @apply text-pretty leading-normal mb-2;
}

ol {
  @apply list-decimal pl-4;
}

:root {
  counter-reset: pageNumber;
}
@page {
  /* size: 5.5in 8.5in; */
  margin: 0.75in;

  @bottom-center {
    counter-increment: pageNumber;
    content: "Page " counter(pageNumber);
  }
}
