---
import "../styles/global.css";

interface Props {
  title?: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="max-w-7xl web:mx-auto web:px-6 web:py-8 web:lg:p-20">
    <slot />
  </body>
</html>
